.clock {
	font-family: 'digi';
	src: url('css/DS-DIGII.TTF');
    font-size: 48px;
}

.off:hover {
    cursor: pointer; cursor: hand;
    background-color:#ccc;
}

.off { 
    cursor: pointer; cursor: hand;
    background-color: #FFF;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    border: 2px solid;
    display:inline-block;
    padding: 4px 0 0 9px;
}
.on { 
    cursor: pointer; cursor: hand;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    border: 2px solid #000;
    display:inline-block;
    padding: 4px 0 0 9px;
}
.off-three { 
    background-color: #FFF;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    border: 2px solid;
    display:inline-block;
    padding: 4px 0 0 0px;
}
.off-two { 
    background-color: #FFF;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    border: 2px solid;
    display:inline-block;
    padding: 4px 0 0 5px;
}